/* ------------------------------------------------------------ *\
    Vendor
\* ------------------------------------------------------------ */

@import './vendor/*.scss';

/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/shared/_config.scss';
@import '~@styles/shared/_variables.scss';
@import '~@styles/shared/_editor.scss';
@import './_variables.scss';
@import './_sprite.scss';

/* ------------------------------------------------------------ *\
    Theme
\* ------------------------------------------------------------ */

@import './_generic*.scss';

body {
  background: red url(~@images/svg-sprite/twitter.svg);
}

.articles {
  background: green url(~@images/svg-sprite/wikipedia.svg);
}

.article:first-child {
  background: blue url(~@images/facebook.svg);
}
